gemini_n8n_vincent_tu.json
{
  "name": "vincent_tu",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/imagen-3.0-generate-002:predict",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "Gemini API Key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"instances\": [\n    {\n      \"prompt\": \"{{ $json.chatInput }}\"\n    }\n  ],\n  \"parameters\": {\n    \"sampleCount\": 4\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "95117b58-719d-43ad-bcb3-44598e5c8ce0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "predictions[0].bytesBase64Encoded",
        "binaryPropertyName": "=data",
        "options": {
          "mimeType": "={{ $json.predictions[0].mimeType }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "2c4981fc-cf3c-4b76-ba32-de812bd4fd4e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "name": "=Image{{ $today }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "15_ZbUAABQC01t6JaNo7FywF4QX6bkm6i",
          "mode": "list",
          "cachedResultName": "google driver",
          "cachedResultUrl": "https://drive.google.com/drive/folders/XXXX"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        660,
        0
      ],
      "id": "499811bb-8ca7-4f8a-9504-4042e23610d3",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3mwyIqcsGQC5C62x",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -40,
        0
      ],
      "id": "3942aaf7-0437-4f0d-8c2a-019d445b048f",
      "name": "When chat message received",
      "webhookId": "564028f2-8fa9-440a-92ef-e769ea81cde6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bbc0cd6-f991-4bc6-9c56-51f4324b5fac",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "6ca917f3-db36-4899-8faf-a3af1351ea7d",
              "name": "webViewLink",
              "value": "={{ $json.thumbnailLink }}",
              "type": "string"
            },
            {
              "id": "b4c17eec-b248-4eef-80fd-49dd0c57890b",
              "name": "file_name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ],
      "id": "ffb87626-885f-4813-b55b-18a3fd8a587d",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "46ac65a1-e784-4261-9fa3-739a3dc1cd87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc1715903f3309c3f86d01b713faa09872c7465b4ec304d139717b4abad36cf3"
  },
  "id": "vzJ8v6FnSLOWAVSj",
  "tags": []
}
